<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <hr>
    <center>
        <a href="/">Home</a>    |
        <a href="/viewlist">View List</a>   |
        <a href="/searchform">Search By Student's Id</a>
    </center>
    <hr>
</body>
</html>