<!DOCTYPE html>
<html>
  <head>
    <title>Sequelize</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Student Profile Form</h1>
    <form action="/save">
    <input type="text" placeholder="Enter Name" name="name" id="name"> <br>
    <input type="email" placeholder="Enter Email" name="email" id="email"> <br>
    <input type="password" placeholder="Enter Password" name="password" id="password"> <br>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset"> <br>
    </form>
  </body>
</html>
