<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/userData" method="get">
        <input type="text" placeholder="Enter Username" name="username"> <br>
        <input type="email" placeholder="Enter Email" name="email"> <br>
        <input type="password" placeholder="Enter Password" name="password"> <br>
        <input type="contact" placeholder="Enter 10-digit Mobile Number" name="contact"> <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>