<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>    
        <h1>Express Mail Example</h1>
   </center>
   <hr>
   <center>
    Welcome <%=email%>  |
   <a href="/">Home</a> |
   <a href="#">Update Profile</a>   |
   <a href="#">Logout</a> 
</center>
   <hr>
</body>
</html>