<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Worksmart a Corporate Category Bootstrap Responsive Website Template - About :: W3layouts</title>

    <!-- Google online fonts -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
  </head>
  <body>
<section class="w3l-header">
  <nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container">
      <a class="navbar-brand" href="index.html"><span class="fa fa-smile-o"></span>Work<label class="logo-view">smart</label></a>
      <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
      <div class="header-right d-flex align-items-center">
        <a href="contact.html" class="btn btn-outline-dark d-none d-md-block btn-outline-style mr-4">Contact Us</a>
        <section class="w3l-menu">
          <div class="menu-btn">
            <span class="top"></span>
            <span class="mid"></span>
            <span class="bot"></span>
          </div>
          <div id="nav">
            <ul class="nav-inner">
              <li>
                <a href="index.html">Home</a>
              </li>
              <li>
                <a href="about.html">About</a>
              </li>
              <li>
                <a href="contact.html">Contact</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </nav>
</section>

<section class="w3l-about1">
  <div class="new-block py-5">
    <div class="container py-lg-5">
      <div class="middle-section">
        <!-- <h5>Tagline</h5> -->
        <div class="section-width">
          <h2>Start your Business today with this professional template.</h2>
        </div>
        <div class="link-list-menu">
            <p class="mb-md-5 mb-3">Workflow is the definition, execution and automation of business processes where tasks information.</p>
            <a href="about.html" class="btn btn-outline-primary btn-outline-style py-3 btn-icon">Read More <span class="fa fa-chevron-right" aria-hidden="true"></span></a>
        </div>
      </div>
    </div>
  </div>
  </section>
<section class="w3l-stats">
  <div class="main-w3 py-5">
    <div class="container py-lg-3">
      <div class="row align-items-center">
        <div class="col-md-6 title">
          <h3>We have a great funfact which
            we want to show you!</h3>
          <p class="mt-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo, soluta impedit. Consequatur,
            quasi mollitia? Adipisci exercitationem amet dolore expedita repudiandae voluptatem impedit ipsa vero
            repellendus?</p>
        </div>
        <div class="col-md-6 main-cont-wthree-fea text-center">
          <div class="row">
            <div class="col-6 pr-2 mt-4">
              <div class="grids-speci1">
                <span class="fa fa-users"></span>
                <h3 class="title-spe">1200+</h3>
                <p>Happy Clients</p>
              </div>
            </div>
            <div class="col-6 pl-2 mt-4">
              <div class="grids-speci1">
                <span class="fa fa-camera"></span>
                <h3 class="title-spe">18k+</h3>
                <p>Projects</p>
              </div>
            </div>
            <div class="col-6 pr-2 mt-4">
              <div class="grids-speci1">
                <span class="fa fa-briefcase"></span>
                <h3 class="title-spe">158</h3>
                <p>Partners</p>
              </div>
            </div>
            <div class="col-6 pl-2 mt-4">
              <div class="grids-speci1">
                <span class="fa fa-comments"></span>
                <h3 class="title-spe">879+</h3>
                <p>Questions Answered</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="w3l-section-title">
  <div class="new-block py-5">
    <div class="container pt-lg-5">
      <div class="row">
      <div class="col-md-4 title">
        <h3>Our Vision</h3>
      </div>
      <div class="col-md-8 title-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eligendi incidunt, reprehenderit minima exercitationem accusantium reiciendis, cupiditate optio corrupti quis quam at!.</p>
      </div>
    </div>
    </div>
  </div>
</section>
<section class="w3l-about3">
  <div class="story-inner-6 text-left py-5">
    <div class="container pt-lg-3">
      <div class="row align-items-center">
        <div class="col-md-6 story-gd">
          <h3 class="global-title title">First Class Business Solutions for You</h3>
          <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a
            page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters.</p>

            <div class="story-info-content">
              <div class="story-info">
                <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                  Creative Websites Design</a>
                </h5>
              </div>
              <div class="story-info">
                <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                  Accounting Procedures Guidebook</a>
                </h5>
              </div>
              <div class="story-info">
                <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                  Cost Accounting Fundamentals</a>
                </h5>
              </div>
              <div class="story-info">
                <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                  Corporate Cash Management</a>
                </h5>
              </div>
              <div class="story-info">
                <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                  SEO Optimization Services</a>
                </h5>
              </div>
            </div>

        </div>
        <div class="col-md-5 offset-md-1 offset-0 mt-md-0 mt-5">
          <div class="story-gd proff">

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="w3l-about4">
  <div class="story-inner-6 text-left py-5">
    <div class="container pt-lg-3">
      <div class="row align-items-center">
        <div class="col-md-5">
          <div class="story-gd proff">

          </div>
        </div>
        <div class="col-md-6 offset-md-1 offset-0 story-gd mt-md-0 mt-5">
          <h3 class="global-title title">We are Digital & Marketing Agency</h3>
          <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a
            page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters.</p>
            <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a
              page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
              distribution of letters.</p>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
<section class="w3l-about5">
  <div class="story-inner-6 text-left py-5">
    <div class="container pt-lg-3">
      <div class="row align-items-center">
        <div class="col-md-6 story-gd">
          <h3 class="global-title title">We are Qualified
            & Professional</h3>
          <p class="mb-4">It is a long established fact that a reader will be distracted by the readable content of a
            page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters.</p>

            <div class="story-info-content">
              <div class="story-info">
                <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                  Creative Websites Design</a>
                </h5>
              </div>
              <div class="story-info">
                <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                  Accounting Procedures Guidebook</a>
                </h5>
              </div>
              <div class="story-info">
                <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                  Cost Accounting Fundamentals</a>
                </h5>
              </div>
              <div class="story-info">
                <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                  Corporate Cash Management</a>
                </h5>
              </div>
              <div class="story-info">
                <h5><span class="fa fa-check" aria-hidden="true"></span> <a href="#url">
                  SEO Optimization Services</a>
                </h5>
              </div>
            </div>

          
        </div>
        <div class="col-md-5 offset-md-1 offset-0 mt-md-0 mt-5">
          <div class="story-gd proff">

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<section class="w3l-team" id="team">
	<div class="teams1 py-5">
		<div class="container py-lg-3">
			<div class="teams1-content">
				<h2>Meet our lovely team</h2>
				<p class="team-text mb-5">Lorem ipsum dolor sit amet consectetur adipisicing amet per elit. </p>
					<div class="owl-carousel owl-theme text-center">
						<div class="item">
							<div class="d-grid team-info">
								<div class="column position-relative">
									<a href="#url"><img src="assets/images/team.jpg" alt="" class="img-fluid rounded team-image" /></a>
								</div>
								<div class="column">
									<h3 class="name-pos"><a href="#url">Anthony</a></h3>
									<p>Project Manager</p>
									<div class="social">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="d-grid team-info">
								<div class="column position-relative">
									<a href="#url"><img src="assets/images/team2.jpg" alt="" class="img-fluid rounded team-image" /></a>
								</div>
								<div class="column">
									<h3 class="name-pos"><a href="#url">Dennis Jack</a></h3>
									<p>Team Lead</p>
									<div class="social">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="d-grid team-info">
								<div class="column position-relative">
									<a href="#url"><img src="assets/images/team3.jpg" alt="" class="img-fluid rounded team-image" /></a>
								</div>
								<div class="column">
									<h3 class="name-pos"><a href="#url">Harold</a></h3>
									<p>Developer</p>
									<div class="social">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="d-grid team-info">
								<div class="column position-relative">
									<a href="#url"><img src="assets/images/team4.jpg" alt="" class="img-fluid rounded team-image" /></a>
								</div>
								<div class="column">
									<h3 class="name-pos"><a href="#url">Lawrence</a></h3>
									<p>Web Designer</p>
									<div class="social">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="d-grid team-info">
								<div class="column position-relative">
									<a href="#url"><img src="assets/images/team5.jpg" alt="" class="img-fluid rounded team-image" /></a>
								</div>
								<div class="column">
									<h3 class="name-pos"><a href="#url">Bradley</a></h3>
									<p>Graphic Designer</p>
									<div class="social">
										<a href="#facebook" class="facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
										<a href="#twitter" class="twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</section>


<section class="w3l-index4">
  <div class="section-four gotocontact py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="row align-items-center">
        <div class="col-xl-7 col-lg-6">
          <div class="heading white">
            <h3>We have offered the best pricing
              to make life easier!</h3>
            <p class="mt-4">Consulting Agency for Your Business!</p>
          </div>
        </div>
        <div class="offset-xl-1 offset-0 col-xl-3 col-lg-6 text-lg-right mt-5 mt-lg-0">
          <a class="btn btn-light btn-outline-style py-3" href="contact.html" title="Contact Us!"><span
              class="fa fa-location-arrow mr-2"></span>Contact Us!</a>
        </div>
      </div>
    </div>
</section>
    <!-- footer -->
    <footer class="w3l-footer">
      <div class="footer-29 py-5">
        <div class="container pb-lg-3">
          <div class="row footer-top-29">
            <div class="col-md-6 footer-list-29 footer-1 mt-md-4">
              <h6 class="footer-title-29">Contact Us</h6>
              <ul>
                <li>
                  <span class="fa fa-map-marker"></span>
                  <p> Workflow, 433 California St, Suite 300 San Francisco, <br>CA 94104, USA</p>
                </li>
                <li>
                  <span class="fa fa-phone"></span>
                  <a href="tel:+44 99 555 42"> +44 99 555 42</a></li>
                <li>
                  <span class="fa fa-envelope-open-o"></span>
                  <a href="mailto:mailid@mail.com" class="mail">
                    mailid@mail.com</a></li>
              </ul>
              <div class="main-social-footer-29">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>

            <div class="col-md-6 footer-list-29 footer-4 mt-md-4 mt-5">
              <h6 class="footer-title-29">Subscribe</h6>
              <p>Always know what’s happening in the
                world of applications. Recieve all
                latest post in your inbox.</p>
              <form action="#" method="post" class="rightside-form mt-4">
                <input type="email" name="email" placeholder="Enter your email">
                <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
              </form>
              </ul>
            </div>
          </div>
          <div class="row bottom-copies">
            <p class="copy-footer-29 col-lg-7 text-lg-left text-center">© 2020 Worksmart. All rights reserved | Design by <a
                href="https://w3layouts.com/">W3Layouts</a></p>
            <ul class="list-btm-29 col-lg-5 text-lg-right text-center">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- /move top -->
    </footer>
    <!-- // footer -->

    <!-- jQuery -->
    <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- disable body scroll which navbar is in active -->
    <script>
      $(function () {
        $('.navbar-toggler').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
    </script>
    <!-- disable body scroll which navbar is in active -->



    <script src="assets/js/owl.carousel.js"></script>
    <!-- script for teams1-->
    <script>
      $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
          loop: true,
          margin: 0,
          responsiveClass: true,
          responsive: {
            0: {
              items: 1,
              nav: true
            },
            667: {
              items: 2,
              nav: true,
              margin: 20
            },
            1000: {
              items: 4,
              nav: true,
              loop: true,
              margin: 25
            }
          }
        })
      })
    </script>
    <!-- //script for teams1-->

    <script>
      $(document).ready(function () {

        var $menuBtn = $('.menu-btn');
        var $nav = $('#nav');
        var $stylebox = $('#style-box');
        var $styleli = $stylebox.find('li');

        $menuBtn.on('click', function () {
          var $this = $(this);
          var styles = $stylebox.data('styles');
          $this.toggleClass("active");
          $this.next('#nav').toggleClass("open");
          $stylebox.toggleClass(styles);
        });

        $nav.addClass('topslide');

        $styleli.on('click', function () {
          var $this = $(this);
          $this.siblings().removeClass('now');
          $this.addClass('now');
          var styles = $this.data('styles');
          $nav.removeClass();
          $nav.addClass(styles);
          $nav.siblings('#style-box').removeClass();
          $nav.siblings('#style-box').data('styles', styles);
        });
      });
    </script>

    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-slide-bottom'
        });
      });
    </script>

    </body>

    </html>