<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>शिक्षक Recruitment System</title>

    <!-- Google online fonts -->
    <link href="//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
     
</head>
  <body>
<section class="w3l-header">
  <nav class="navbar navbar-expand-lg navbar-light py-3">
    <div class="container">
      <a class="navbar-brand" href="index.html"><span class="fa fa-smile-o"></span>शिक्षक<label class="logo-view">&nbsp;Recruitment</label></a>
      <!-- if logo is image enable this   
    <a class="navbar-brand" href="#index.html">
        <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
    </a> -->
      <div class="header-right d-flex align-items-center">
        <a href="" class="btn btn-outline-dark d-none d-md-block btn-outline-style mr-4">Admin Panel</a>
        <section class="w3l-menu">
          <div class="menu-btn">
            <span class="top"></span>
            <span class="mid"></span>
            <span class="bot"></span>
          </div>
          <div id="nav">
            <ul class="nav-inner">
              <li>
                <a href="/admin">Home</a>
              </li>
              <li>
                <a href="">Candidate List</a>
              </li>
              <li>
                <a href="/admin/recruiterList">Recruiter List</a>
              </li>
              <li>
                <a href="">Vacancy List</a>
              </li>
              <li>
                <a href="">Applied Candidate List</a>
              </li>
              <li>
                <a href="">Update Password</a>
              </li>
              <li>
                <a href="/admin/adminLogout">Logout</a>
              </li>

            </ul>
          </div>
        </section>
      </div>
    </div>
  </nav>
</section>

