<%- include('./indexHeader') %>

<!-- index-block1 -->
<div class="w3l-index-block1">
  <div class="content py-5">
    <div class="container py-lg-4">
      <div class="row align-items-center">
        <div class="col-lg-5 content-left">
          <h3>Design <br>Develop <br>Digital Market</h3>
          <p class="mt-3 mb-lg-5 mb-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum.</p>
          <a href="about.html" class="btn btn-primary btn-style">Get Started</a>
        </div>
        <div class="col-lg-7 content-photo mt-lg-0 mt-5">
          <img src="assets/images/main.jpg" class="img-fluid" alt="main image">
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
<!-- //index-block1 -->
<section class="w3l-index5" id="about">
  <div class="new-block py-5">
    <div class="container py-lg-5">
      <div class="middle-section text-center">
        <div class="section-width">
          <h2>We are the largest Business expert in Digital & Marketing Agency</h2>
            <p class="mt-3">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, corrupti odit? At iure facere,
              porro repellat officia quas, dolores magnam assumenda soluta odit
              harum
              voluptate inventore ipsa maiores fugiat accusamus eos nulla. Iure voluptatibus explicabo officia.</p>
        </div>
        <div class="history-info mt-5">
          <div class="position-relative">
            <img src="assets/images/video.jpg" class="img-fluid rounded video-popup-image" alt="video-popup">
            <!-- <a href="#popup-video" class="play-view text-center position-absolute">
						<span class="video-play-icon">
							<span class="fa fa-play"></span>
						</span>
					</a> -->

            <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
              <span class="video-play-icon">
                <span class="fa fa-play"></span>
              </span>
            </a>

            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
              <iframe src="https://www.youtube.com/embed/Z_KspIX1oXU" allowfullscreen></iframe>
            </div>

            <!-- popup --
            <div id="popup-video" class="pop-overlay">
              <div class="popup">
                <div class="align-popup-video">
                  <iframe src="https://www.youtube.com/embed/Z_KspIX1oXU" allowfullscreen></iframe>
                  <a class="close" href="#portfolio">×</a>
                </div>

              </div>
            </div>
            <!-- /popup -->


          </div>
        </div>

        <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
        <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
          <iframe src="https://www.youtube.com/embed/Z_KspIX1oXU" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w3l-index2" id="services">
  <div class="features-main py-5 text-center">
    <div class="container py-lg-3">
      <div class="heading mx-auto">
        <h3 class="head">We Provide Best Services</h3>
        <p class="mb-4">Lorem ipsum dolor sit amet elit. Quo ut voluptate assumenda fugiat quas tempore.</p>
      </div>
      <div class="row features">
        <div class="col-lg-4 col-md-6 feature-grid">
          <a href="#url">
            <div class="feature-body service1">
              <div class="feature-img">
                <span class="fa fa-bar-chart" aria-hidden="true"></span>
              </div>
              <div class="feature-info mt-4">
                <h3 class="feature-titel mb-2">Marketing Services</h3>
                <p class="feature-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nam, minima iste molestiae.
                </p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 feature-grid">
          <a href="#url">
          <div class="feature-body service2">
            <div class="feature-img">
              <span class="fa fa-laptop icon-fea" aria-hidden="true"></span>
            </div>
            <div class="feature-info mt-4">
              <h3 class="feature-titel mb-2">Web App Development</h3>
              <p class="feature-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nam, minima iste molestiae.
              </p>

            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 feature-grid">
          <a href="#url">
          <div class="feature-body service3">
            <div class="feature-img">
              <span class="fa fa-line-chart" aria-hidden="true"></span>
            </div>
            <div class="feature-info mt-4">
              <h3 class="feature-titel mb-2">24/7 Call Center Service</h3>
              <p class="feature-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nam, minima iste molestiae.
              </p>
              <div class="hover">
              </div>
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 feature-grid">
          <a href="#url">
          <div class="feature-body service4">
            <div class="feature-img">
              <span class="fa fa-envelope-o" aria-hidden="true"></span>
            </div>
            <div class="feature-info mt-4">
              <h3 class="feature-titel mb-2">Social Media Marketing</h3>
              <p class="feature-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nam, minima iste molestiae.
              </p>
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 feature-grid">
          <a href="#url">
          <div class="feature-body service5">
            <div class="feature-img">
              <span class="fa fa-signal icon-fea" aria-hidden="true"></span>
            </div>
            <div class="feature-info mt-4">
              <h3 class="feature-titel mb-2">Corporate Business</h3>
              <p class="feature-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nam, minima iste molestiae.
              </p>
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 feature-grid">
          <a href="#url">
          <div class="feature-body service6">
            <div class="feature-img">
              <span class="fa fa-paint-brush icon-fea" aria-hidden="true"></span>
            </div>
            <div class="feature-info mt-4">
              <h3 class="feature-titel mb-2">Creative Consultancy</h3>
              <p class="feature-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nam, minima iste molestiae.
              </p>
            </div>
          </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w3l-index3">
  <div class="midd-w3 py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="row">
        <div class="col-lg-6 left-wthree-img text-right">
          <img src="assets/images/g5.jpg" alt="" class="img-fluid rounded" />
        </div>
        <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq">
          <h6>Your Most Trusted Business Partner</h6>
          <h3 class="text-da">25 Years of Industry Experience</h3>
          <p class="mt-3">Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
            ultrices in ligula. Semper at tempufddfel.</p>
          <ul class="w3l-right-book mt-4">
            <li><span class="fa fa-check" aria-hidden="true"></span>Creative Websites Design</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>Accounting Procedures Guidebook</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>Cost Accounting Fundamentals</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>Corporate Cash Management</li>
            <li><span class="fa fa-check" aria-hidden="true"></span>SEO Optimization Services</li>
          </ul>
          <a href="about.html" class="btn btn-outline-style btn-outline-primary mt-4 py-3">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="video-responsive">
	<video class="video" muted="muted" loop="loop" autoplay="autoplay">
		<source src="assets/videos/meeting.mp4" type="video/mp4">
		Your browser does not support HTML5 video.
	</video>

	<canvas class="canvas"></canvas>

	<div id="over_video">
		<div class="bg-mask">
			<div class="video-heading">
				<h3>Corporate Agency for Your Business Solutions</h3>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when
					looking at its layout.</p>
			</div>

		</div>
	</div>
</div>
<style>
	.video-heading {
		max-width: 750px;
		margin: 0 auto;
	}

	.video-heading h3 {
		font-size: 45px;
		line-height: 58px;
		text-transform: Capitalize;
		font-weight: 600;
		margin-bottom: 25px;
		color: #fff;
	}

	.video-heading p {
		margin: 0;
		line-height: 28px;
		font-size: 18px;
		color: #fff;
	}

	.video-responsive {
		padding-bottom: 400px;
		position: relative;
		width: 100%;
	}

	.canvas,
	.video {
		left: 0;
		position: absolute;
		top: 0;
		background: #000;
		z-index: 5;
		overflow: hidden;
		width: 100%;
		height: 400px;
		object-fit: cover;
	}

	#over_video {
		position: absolute;
		width: 100%;
		height: 100%;
		text-align: center;
		top: 0;
		z-index: 10;
		color: #FFF;
	}

	.bg-mask {
		background: rgba(0, 0, 0, 0.3);
		height: inherit;
		display: grid;
		align-items: center;
		padding: 0 15px;
	}

	@media screen and (max-width: 568px) {

		.canvas,
		.video {
			height: 400px;
		}

		.video-heading h3 {
			font-size: 35px;
			line-height: 48px;
			margin-bottom: 20px;
		}

		.video-heading p {
			line-height: 26px;
			font-size: 16px;
		}
	}
</style>

<script src="assets/js/canvas-video-player.js"></script>


<script>
	var isIOS = /iPad|iPhone|iPod/.test(navigator.platform);

	if (isIOS) {

		var canvasVideo = new CanvasVideoPlayer({
			videoSelector: '.video',
			canvasSelector: '.canvas',
			timelineSelector: false,
			autoplay: true,
			makeLoop: true,
			pauseOnClick: false,
			audio: false
		});

	} else {

		// Use HTML5 video
		document.querySelectorAll('.canvas')[0].style.display = 'none';

	}
</script>
<!-- scripts -->
<section class="w3l-section-title" id="clients">
  <div class="new-block py-5">
    <div class="container pt-lg-5">
      <div class="row">
      <div class="col-md-4 title">
        <h3>Our Clients</h3>
      </div>
      <div class="col-md-8 title-text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eligendi minima accusantium reiciendis, cupiditate optio corrupti quis quam at!.</p>
      </div>
    </div>
    </div>
  </div>
</section>
<section class="w3l-logos pb-5 pt-4">
  <div class="container pb-lg-3">
    <div class="row">
      <div class="col-lg-3 col-6 logo-view">
        <img src="assets/images/logo1.jpg" alt="company-logo" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-6 logo-view">
        <img src="assets/images/logo2.jpg" alt="company-logo" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-6 logo-view">
        <img src="assets/images/logo3.jpg" alt="company-logo" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-6 logo-view">
        <img src="assets/images/logo4.jpg" alt="company-logo" class="img-fluid" />
      </div>
    </div>
    <div class="row mt-lg-4 mt-0">
      <div class="col-lg-3 col-6 logo-view">
        <img src="assets/images/logo3.jpg" alt="company-logo" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-6 logo-view">
        <img src="assets/images/logo4.jpg" alt="company-logo" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-6 logo-view">
        <img src="assets/images/logo1.jpg" alt="company-logo" class="img-fluid" />
      </div>
      <div class="col-lg-3 col-6 logo-view">
        <img src="assets/images/logo2.jpg" alt="company-logo" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<div class="w3l-index6" id="news">
  <!-- grids block 5 -->
  <section id="grids5-block" class="py-5">
    <div class="container py-lg-3">
      <div class="heading text-center">
        <h3 class="head">Our Latest News</h3>
        <p>Lorem ipsum dolor sit amet elit. Quo ut voluptate assumenda fugiat quas tempore.</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="grids5-info">
            <a href="#blog-single.html"><img src="assets/images/g6.jpg" alt="" class="rounded" /></a>
            <div class="blog-info">
              <h4><a href="#blog-single.html">Creative Websites Design</a></h4>
              <ul class="blog-list">
                <li>
                  <p><span class="fa fa-calendar-o"></span> Jan 24, 2020</p>
                </li>
                <li>
                  <p><span class="fa fa-comments-o"></span> <strong>23</strong> comments</p>
                </li>
              </ul>
              <p>Nulla eu ipsum tempus est et vitae nulla empus est
                suscipit et dolor amet.</p>
              <a href="#blog-single.html" class="btn btn-outline-secondary mt-4">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-5">
          <div class="grids5-info">
            <a href="#blog-single.html"><img src="assets/images/g2.jpg" alt="" class="rounded" /></a>
            <div class="blog-info">
              <h4><a href="#blog-single.html">SEO Optimization Services</a></h4>
              <ul class="blog-list">
                <li>
                  <p><span class="fa fa-calendar-o"></span> Mar 14, 2020</p>
                </li>
                <li>
                  <p><span class="fa fa-comments-o"></span> <strong>12</strong> comments</p>
                </li>
              </ul>
              <p>Nulla eu ipsum tempus est et vitae nulla empus est
                suscipit et dolor amet.</p>
              <a href="#blog-single.html" class="btn btn-outline-secondary mt-4">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 offset-md-3 offset-lg-0 col-md-6 mt-5">
          <div class="grids5-info">
            <a href="#blog-single.html"><img src="assets/images/g3.jpg" alt="" class="rounded" /></a>
            <div class="blog-info">
              <h4><a href="#blog-single.html">Corporate Management</a></h4>
              <ul class="blog-list">
                <li>
                  <p><span class="fa fa-calendar-o"></span> Oct 05, 2020</p>
                </li>
                <li>
                  <p><span class="fa fa-comments-o"></span> <strong>16</strong> comments</p>
                </li>
              </ul>
              <p>Nulla eu ipsum tempus est et vitae nulla empus est
                suscipit et dolor amet.</p>
              <a href="#blog-single.html" class="btn btn-outline-secondary mt-4">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="w3l-index4">
  <div class="section-four gotocontact py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="row align-items-center">
        <div class="col-xl-7 col-lg-6">
          <div class="heading white">
            <h3>We have offered the best pricing
              to make life easier!</h3>
            <p class="mt-4">Consulting Agency for Your Business!</p>
          </div>
        </div>
        <div class="offset-xl-1 offset-0 col-xl-3 col-lg-6 text-lg-right mt-5 mt-lg-0">
          <a class="btn btn-light btn-outline-style py-3" href="contact.html" title="Contact Us!"><span
              class="fa fa-location-arrow mr-2"></span>Contact Us!</a>
        </div>
      </div>
    </div>
</section>
    <!-- footer -->
    <footer class="w3l-footer">
      <div class="footer-29 py-5">
        <div class="container pb-lg-3">
          <div class="row footer-top-29">
            <div class="col-md-6 footer-list-29 footer-1 mt-md-4">
              <h6 class="footer-title-29">Contact Us</h6>
              <ul>
                <li>
                  <span class="fa fa-map-marker"></span>
                  <p> Workflow, 433 California St, Suite 300 San Francisco, <br>CA 94104, USA</p>
                </li>
                <li>
                  <span class="fa fa-phone"></span>
                  <a href="tel:+44 99 555 42"> +44 99 555 42</a></li>
                <li>
                  <span class="fa fa-envelope-open-o"></span>
                  <a href="mailto:mailid@mail.com" class="mail">
                    mailid@mail.com</a></li>
              </ul>
              <div class="main-social-footer-29">
                <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
                <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
                <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
                <a href="#google-plus" class="google-plus"><span class="fa fa-google-plus"></span></a>
                <a href="#linkedin" class="linkedin"><span class="fa fa-linkedin"></span></a>
              </div>
            </div>

            <div class="col-md-6 footer-list-29 footer-4 mt-md-4 mt-5">
              <h6 class="footer-title-29">Subscribe</h6>
              <p>Always know what’s happening in the
                world of applications. Recieve all
                latest post in your inbox.</p>
              <form action="#" method="post" class="rightside-form mt-4">
                <input type="email" name="email" placeholder="Enter your email">
                <button type="submit" class="btn"><span class="fa fa-search" aria-hidden="true"></span></button>
              </form>
              </ul>
            </div>
          </div>
          <div class="row bottom-copies">
            <p class="copy-footer-29 col-lg-7 text-lg-left text-center">© 2020 Worksmart. All rights reserved | Design by <a
                href="https://w3layouts.com/">W3Layouts</a></p>
            <ul class="list-btm-29 col-lg-5 text-lg-right text-center">
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- move top -->
      <button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
        <span class="fa fa-angle-up"></span>
      </button>
      <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <!-- /move top -->
    </footer>
    <!-- // footer -->

    <!-- jQuery -->
    <script src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <!-- Bootstrap js -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- disable body scroll which navbar is in active -->
    <script>
      $(function () {
        $('.navbar-toggler').click(function () {
          $('body').toggleClass('noscroll');
        })
      });
    </script>
    <!-- disable body scroll which navbar is in active -->



    <script src="assets/js/owl.carousel.js"></script>
    <!-- script for teams1-->
    <script>
      $(document).ready(function () {
        $('.owl-carousel').owlCarousel({
          loop: true,
          margin: 0,
          responsiveClass: true,
          responsive: {
            0: {
              items: 1,
              nav: true
            },
            667: {
              items: 2,
              nav: true,
              margin: 20
            },
            1000: {
              items: 4,
              nav: true,
              loop: true,
              margin: 25
            }
          }
        })
      })
    </script>
    <!-- //script for teams1-->

    <script>
      $(document).ready(function () {

        var $menuBtn = $('.menu-btn');
        var $nav = $('#nav');
        var $stylebox = $('#style-box');
        var $styleli = $stylebox.find('li');

        $menuBtn.on('click', function () {
          var $this = $(this);
          var styles = $stylebox.data('styles');
          $this.toggleClass("active");
          $this.next('#nav').toggleClass("open");
          $stylebox.toggleClass(styles);
        });

        $nav.addClass('topslide');

        $styleli.on('click', function () {
          var $this = $(this);
          $this.siblings().removeClass('now');
          $this.addClass('now');
          var styles = $this.data('styles');
          $nav.removeClass();
          $nav.addClass(styles);
          $nav.siblings('#style-box').removeClass();
          $nav.siblings('#style-box').data('styles', styles);
        });
      });
    </script>

    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script>
      $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-zoom-in'
        });

        $('.popup-with-move-anim').magnificPopup({
          type: 'inline',

          fixedContentPos: false,
          fixedBgPos: true,

          overflowY: 'auto',

          closeBtnInside: true,
          preloader: false,

          midClick: true,
          removalDelay: 300,
          mainClass: 'my-mfp-slide-bottom'
        });
      });
    </script>

    </body>

    </html>