<head>
    <%- include ('./bootstrap.ejs') %>
    <title>Document</title>
</head>
<body style="overflow-x: hidden;">
    <div class="row">
        <%- include ('./header.ejs') %>
    </div>
        <%- include ('./content.ejs') %>
        
</body>
</html>