<div class="row m-5" >
    <div id="mydiv" class="col-md-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum autem, ipsa qui cupiditate aliquid sit maiores exercitationem. Doloremque nostrum ut nobis repellendus. Dolores blanditiis, aliquam, est quibusdam incidunt fugiat cumque nesciunt perferendis ullam veniam iusto illo corrupti similique nemo libero molestiae commodi sapiente nam temporibus, culpa harum labore. Minima!
    </div>
    <div id="mydiv" class="col-md-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum autem, ipsa qui cupiditate aliquid sit maiores exercitationem. Doloremque nostrum ut nobis repellendus. Dolores blanditiis, aliquam, est quibusdam incidunt fugiat cumque nesciunt perferendis ullam veniam iusto illo corrupti similique nemo libero molestiae commodi sapiente nam temporibus, culpa harum labore. Minima!
    </div>
    <div id="mydiv" class="col-md-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis nostrum autem, ipsa qui cupiditate aliquid sit maiores exercitationem. Doloremque nostrum ut nobis repellendus. Dolores blanditiis, aliquam, est quibusdam incidunt fugiat cumque nesciunt perferendis ullam veniam iusto illo corrupti similique nemo libero molestiae commodi sapiente nam temporibus, culpa harum labore. Minima!
    </div>
</div>