<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Dyeton.Com</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#exampleModal" href="/services">Services</a>
          </li>

          <!-- modal starts -->
          <!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Terms and Conditions</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit.ue, debitis facilis voluptatum ipsum similique perferendis libero quis illo vel recusandae amet dicta quod possimus atque. Tenetur veniam temporibus fugiat neque repudiandae, odit cupiditate expedita nemo hic ducimus, nostrum in provident numquam dolor! Assumenda corporis mollitia, placeat alias unde aspernatur commodi minus voluptatibus cumque at iusto non dolor minima tempora aliquam voluptate qui maxime sit eligendi. Neque esse obcaecati sint libero quia repudiandae nesciunt consequuntur doloremque quaerat! Tempore perferendis nemo quos eum ipsa harum temporibus fugiat ipsum enim! Corrupti maiores dolor excepturi facere, at qui culpa adipisci nisi tempora harum consequatur magnam reprehenderit blanditiis perspiciatis quae sed iure hic asperiores et impedit veritatis neque nemo libero exercitationem? Id, maiores.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-danger" data-bs-dismiss="modal">Agree</button>
      </div>
    </div>
  </div>
</div>
         <!-- modal ends -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Products
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>