<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h2>Session Example</h2>
    <hr>
    <% 
        if(!email){
    %>
            <a href="/">Home</a>    |   
            <a href="/login">Login</a>
    <% } else { %>
            Welcome <%= email %>    |   
            <a href="/logout">Logout</a>
    <% } %>
    <hr>
    <span style="color:red"><%=msg%></span>
</center>
</body>
</html>