<%- include ('./index.ejs') %>
    <style>
        input {
            height: 26px;
            width: 300px;
            margin: 5px;
        }
    </style>
    <div style="margin: auto;">
        <center>
            <h2>Login</h2>
            <!-- <form action="/viewInfo" method="get"> -->
            <form action="/viewInfo" method="post">
                <input type="email" placeholder="Enter Email" id="email" name="email"> <br>
                <input type="password" placeholder="Enter Password" id="password" name="password">
                <br><input type="submit" value="Submit"> <br>
            </form>
            <span style="color:red">
                <%=message%>
            </span>
        </center>

    </div>